body {
    background-color: white;
}

p {
    /*color: #13A10E;*/
    color: black;
    text-align: center;
font-family: 'Courier New', Courier, monospace;
}

.header {
    color: black;
    padding: 30px;
    text-align: center;
}

.topnavlinks {
    background-color: #333333;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    padding: 14px 16px;    
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #13A10E;
}

.pfooter {
    color: white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: auto;
}