body {
    background: linear-gradient(-70deg, #313552 60%, #1f2235 60%);
}

/* p {
    background-color: black;
    color: #13A10E;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
} */

h2, h3 {
    background-color: whitesmoke;
    text-align: center;
}

.header {
    color: black;
    padding: 30px;
    text-align: center;
}

.top-ul-nav-links {
    background-color: #333333;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
}

.top-li-nav-links {
    float: left;
}

.exp-list {
    background-color: whitesmoke;
    color: black;
    list-style: none;
    display: table-cell;
    width: auto;
}

li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #13A10E;
}

/* .language {
    text-align: right;
} */

.self-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    border-radius: 180px;
}

.paragHome {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.paragPerson {
    /*color: #13A10E;*/
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.cvTable {
    background-color: whitesmoke;
    width: 100%;
    line-height: 1.5;
}

.pfooter {
    color: white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: auto;
    line-height: 1.5;
}